@import "_vars.scss";

.slideShow {
  color: $black;
  grid-column: 1 / span 10;
  grid-row: 2;
  height: 100%;
  background-color: $white;
  border-top: $slideshow-border solid $black;
  border-bottom: $slideshow-border solid $black;
}