@import "colors";

.everything {
  background-color: $lightYellow;
  &.color1 {
    background-color: $blueGrey;
  }
  &.color2 {
    background-color: $white;
  }
  &.color3 {
    background-color: $white
  }
}

.header {
  background-color: $blueGrey;
  h1{
    color: $blueGrey;
    text-shadow: 1px 1px 2px $whiteShadow;
    -webkit-text-stroke: .005em $black;
  }
  &.color1 {
    background-color: $coral;
    h1{
      color: $coral;
    }
  }
  &.color2 {
    background-color: $green;
    h1{
      color: $green;
    }
  }
  &.color3 {
    background-color: $hotPink;
    h1{
      color: $white;
      -webkit-text-stroke-color: $white;
      text-shadow: 1px 1px 2px $blackShadow;
    }
  }
}

.facts {
  background-color: $blueGrey;
  &.color1 {
    background-color: $coral;
  }
  &.color2 {
    background-color: $green;
  }
  &.color3 {
    background-color: $hotPink;
  }
}

.requestForm {
  background-color: $blueGrey;
  &.color1 {
    background-color: $coral;
  }
  &.color2 {
    background-color: $green;
  }
  &.color3 {
    background-color: $hotPink;
  }
}

.navigation{
  color: $black;
  li:hover {
    color: $lightYellow;
  }
  &.color1 {
    li {
      color: $white;
    }
    li:hover {
      color: $darkGrey;
    }
  }
  &.color2 {
    li:hover {
      color: $white;
    }
  }
  &.color3 {
    li {
      color: $hotPink
    }
    li:hover {
      color: $white;
    }
  }
}