//colors
$black: rgba(14,17,17,1);
$white: rgba(249,249,249, 1);
$coral: rgba(227, 113, 111, 1);
$blueGrey: rgba(66, 115, 150, 1);
$lightYellow: rgba(255, 245, 176, 1);

//uses
$background-color: $lightYellow;
$headerColor: $blueGrey;
$mainColor: $blueGrey;
$linkColor: $white;
$labelColor: $white;
$headingColor: $black;
$blackShadow: rgba(14,17,17,0.5);
$whiteShadow: rgba(249,249,249, .5);

//sizes
$slideshow-border: 5em;

//fonts
$defaultFontFamily: Raleway;