@import "colors";

//uses
$background-color: $lightYellow;
$headerColor: $blueGrey;
$mainColor: $blueGrey;
$linkColor: $white;
$labelColor: $white;
$headingColor: $black;
$blackShadow: rgba(14,17,17,0.5);
$whiteShadow: rgba(249,249,249, .5);
$true: $green;
$false: $red;

//sizes
$slideshow-border: 5em;

//fonts
$defaultFontFamily: Raleway;