@import url('https://fonts.googleapis.com/css?family=Indie+Flower|Raleway&display=swap');
@import "vars";
@import "carousel";

html {
  background-color: $white;
}
body {
  height: 100vh;
  margin: 0;
  font-size: 12px;
  min-width: 380px;

  img {
    font-size: 12px;
  }


  *, &::before, &::after {
    box-sizing: border-box;
    font-family: $defaultFontFamily;
    min-height: 0;
    margin: 0;
    padding: 0;
  }
}
#app{
  width: 100%;
  height: 100%;
}

#home {
  background-color: $background-color;
  width: 75%;
  max-width: 1000px;
  //height: 100%;
  display: grid;
  grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
  //grid-template-rows: auto auto ($slideshow-border/2) 40%;
  box-shadow: 2px 2px 10px 2px $blackShadow;
}

@media screen and (max-width: 1000px) {

  #home {
    width: 100%;
    grid-template-rows: auto auto ($slideshow-border/2) auto;
  }

}

@media screen and (min-width: 1000px) {
  body {
    height: 98vh;
    overflow: scroll;
  }

  #home {
    height: 100%;
    margin: 1vh auto;
    grid-template-rows: auto 37% ($slideshow-border/2) 40%;
  }
}
