@import "_vars.scss";

.facts{
  height: 100%;
  color: $labelColor;
  background-color: $mainColor;
  box-shadow: .5px .5px 7px 2px $blackShadow;
  padding: 1em 3em;

    h2 {
      color: $headingColor;
      grid-column: 1 / span 3;
      text-align: center;
      font-size: 2em;
      text-decoration: underline;
    }

    ul {
      margin-top: 5%;
      display: grid;
      align-items: start;
      text-align: center;
      grid-auto-rows: max-content;
      grid-row-gap: 30px;

      li {
        grid-column: 1;
        list-style: none;
        font-size: 1.2em;
        text-align: left;
      }
    }
  //}
}
@media screen and (min-width: 600px) {
  .facts {
    grid-column: 2 / span 1;
    grid-row: 1;

      ul{
        height: 80%;
        overflow: scroll;
      }
  }
}

@media screen and (max-width: 600px) {
  .facts {
    grid-column: 1 / span 2;
    grid-row: 2;
  }
}