@import "_vars.scss";

.facts{
  height: 100%;
  color: $labelColor;
  background-color: $mainColor;
  box-shadow: .5px .5px 7px 2px $blackShadow;
  padding: 1em 3em;

    h2 {
      color: $headingColor;
      grid-column: 1 / span 3;
      text-align: center;
      font-size: 2em;
      text-decoration: underline;
      text-shadow: 1px 1px 2px $whiteShadow;
    }

    ul {
      margin-top: 5%;
      display: grid;
      align-items: start;
      text-align: center;
      grid-auto-rows: max-content;
      grid-row-gap: 30px;

      li {
        grid-column: 1;
        list-style: none;
        font-size: 1.2em;
        text-align: right;
        cursor: pointer;
        display: grid;
        grid-template-columns: 15% auto;
        align-items: center;

        p {
          text-align: left;
          display: inline-block;
          text-shadow: 1px 1px 1px $blackShadow;

        }
        div {
          display: inline-block;
          margin-right: auto;
        }
        span {
          border-radius: 100%;
          margin-right: .2em;
          color: $black;
          border: 1px solid $black;
          box-shadow: 1px 1px 1px $blackShadow;
          transition-duration: .3s;

          &.true {
            padding: 0 0.2em;
          }
          &.false {
            padding: 0 0.3em;
          }
        }

        &:hover {
          text-indent: 0;
          span {
            &.true.highlighted {
              background-color: $white;
              color: $true;

            }
            &.false.highlighted {
              background-color: $white;
              color: $false;
            }
          }
        }
      }
    }
  //}
}
@media screen and (min-width: 600px) {
  .facts {
    grid-column: 2 / span 1;
    grid-row: 1;

      ul{
        height: 80%;
        overflow: scroll;
      }
  }
}

@media screen and (max-width: 1000px) {
  .facts {
    li {
      grid-template-columns: 0 auto;
      span {
        display: none;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .facts {
    grid-column: 1 / span 2;
    grid-row: 2;

    li {
      span {
        display: inline-block;
            &.true.highlighted {
              background-color: $white;
              color: $true;

            }
            &.false.highlighted {
              background-color: $white;
              color: $false;
            }
          }
    }
  }
}